# SAMPLE - reemplaza en tu .env real
SECRET_KEY=change-me
DATABASE_URL=sqlite:///users.db

# APIs externos
FX_API_BASE=https://api.exchangerate.host
FX_API_FALLBACK=https://api.frankfurter.app
OWM_API_KEY=

# AWS S3
AWS_REGION=
S3_BUCKET=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=