{% extends "base.html" %}
{% block title %}Inicio{% endblock %}

{% block content %}


<div class="home-actions">
    <h1 class="home-title">EduTech Academy v0.1</h1>
    <p>
        <a href="{{ url_for('login') }}" class="btn btn-primary">Entrar</a>
        <a href="{{ url_for('register') }}" class="btn btn-secondary">Registrarse</a>
    </p>
</div>

<!-- HERO BANNER -->
<div class="hero-banner">
    <img src="{{ url_for('static', filename='img/banner_home1m.png') }}"
         alt="EduTech Academy Banner"
         class="hero-img">
</div>

{% endblock %}